* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: cursive, sans-serif;
  font-size: 18px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

.container h1 {
  text-align: center;
  margin-bottom: 20px;
}

.inputContainer {
  display: flex;
  gap: 10px;
}

#taskInput {
  flex-grow: 1;
  padding: 10px;
  font-size: 1.1rem;
  outline-color: #26a64c;
}

#addBtn {
  padding: 10px 25px;
  font-size: 1.1rem;
  background-color: #26a64c;
  color: #fff;
  border: #ddd;
  border-radius: 8px;
}

#addBtn:hover {
  background-color: #074d1c;
  cursor: pointer;
}
